@charset "utf-8";

html { overflow-y: scroll }
body { margin: 0px 0px 0px 0px; }
.btn {
	cursor: pointer;
}
.search_result_sec {
	display: none;
	padding: 63px;
	width: 862px;
	height: 554px;
	background-color: #704f45;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
}

.search_tab_input {
	display: none;
}
.search_tab_input:checked + label {
	color: red;
}

#search_label_all {background-color: #704f45;}
#search_label_dog {background-color: #4d2418;}
#search_label_cat {background-color: #000000;}

#vote_search_result_all {
	background-color: #704f45;
}
#vote_search_result_dog {
	background-color: #4d2418;
}
#vote_search_result_cat {
	background-color: #000000;
}
#search_tab_all:checked ~ #vote_search_result_all,
#search_tab_dog:checked ~ #vote_search_result_dog,
#search_tab_cat:checked ~ #vote_search_result_cat {
	display: block;
}
.search_label {
	width: 50px;
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 17px 8px 17px;
	text-align: center;
	color: #ffffff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.search_label:hover {
	color: red;
	cursor: pointer;
}
.search_btn {
	background-color: #4d2418;
    font-size: 14px;
    margin-left: -4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}
.search_text {
	color: #6a6a6a;
    font-size: 15px;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.foot_icon {
    display: inline-block;
    vertical-align: middle;
    padding-left: 450px;
}


div.btn {
	padding-top: 30px;
	padding-bottom: 10px;
}

#wrap { width: 100%; text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}

#gnb_div {position: absolute; width: 100%; background-color: #FFFFFF; text-align: center; z-index: 999; top: 0;}
#gnb_div.fixed{position: fixed; z-index: 999;}
#gnb_div .logo {float: left; width: 200px; margin-left: 10px;}
#gnb_div .gnb_btn_div {text-align: center; width: 1920px;}

.topmenu {
	width: 215px;
	height: 70px;
	padding: 0 0 0 0;
	border: black 1px;
	display: inline-block;
	text-align: left;
	cursor: pointer;
}
#topb1 {
	background: url("../img/menu/menu_01.png");
}
#topb1:hover {
	background: url("../img/menu/menu_01_on.png");
}
#topb2 {
	background: url("../img/menu/menu_02.png");
}
#topb2:hover {
	background: url("../img/menu/menu_02_on.png");
}
#topb3 {
	background: url("../img/menu/menu_03.png");
}
#topb3:hover {
	background: url("../img/menu/menu_03_on.png");
}
#topb4 {
	background: url("../img/menu/menu_04.png");
}
#topb4:hover {
	background: url("../img/menu/menu_04_on.png");
}
#topb5 {
	background: url("../img/menu/menu_05.png");
}
#topb5:hover {
	background: url("../img/menu/menu_05_on.png");
}



#cam_main_div {padding-top: 74px;}
#cam_main_top {height: 760px; width: 1920px; background-image: url("../img/info/bg_img01.jpg");background-repeat: no-repeat;}
#cam_main_order {height: 230px; width: 1920px; background-color: #d7c1ad; vertical-align: middle; text-align: center;}
#cam_main_order .best_div {
	width: 185px;
	height: 150px;
	background-color: white;
	border-radius: 40px;
	display: inline-block;
	margin: 7px 7px 7px 7px;
}

#contest_info_div {padding-top: 74px;background-color: #d7c1ac;}
#contest_info {height: 400px; width: 1920px; background-image: url("../img/info/bg_img02.jpg");background-repeat: no-repeat;}
#contest_prize {height: 300px; width: 1920px; background-color: #d7c1ad; vertical-align: middle;}
.prizes {
	display: table;
	width: 1000px;
	text-align: center;
	padding-left: 130px;
}
.prizes_row {
	display: table-row;
	color: #4d2417;
}
.prize_info  {
	width: 200px;
	background-color: #d7c1ad;
	margin: 16px 16px 16px 16px;
	display: table-cell;
}
.prize_item {
	height: 170px;
}
.prize_name {
	height: 20px;
	font-size: 15px;
}
.prize_detail {
	height: 20px;
	font-size: 12px;
}
.prize_alert {
	cursor: pointer;
	font-size: 13px;
	vertical-align: middle;
	text-align: left;
}
#contest_info_score {height: 316px; width: 1920px; background-image: url("../img/info/bg_img03.jpg");background-repeat: no-repeat;}


#contest_reg_div {padding-top: 74px;}
#contest_reg_info {height: 427px; width: 1920px; background-image: url("../img/reg/bg_img01.jpg");background-repeat: no-repeat;}
#contest_reg_method {height: 500px; width: 1920px; background-color: #FFFFFF; vertical-align: middle;}
.contest_reg_method_div {
	display: table;
	width: 1000px;
	text-align: center;
}
.method_row {
	display: table-row;
	color: #4d2417;
}
.method_info  {
	width: 250px;
	margin: 7px 7px 7px 7px;
	display: table-cell;
}
.method_top {
	height: 239px;
	padding: 0;
}
.method_link {
	height: 52px;
	padding: 0;
}
.method_link img {
	cursor: pointer;
}
.method_item {
	height: 300;
}
.method_name {
	height: 20px;
}

#contest_vote_div {padding-top: 74px;}
#contest_vote_top {height: 409px; width: 1920px; background-image: url("../img/vote/bg_img01.jpg");background-repeat: no-repeat;}
#contest_vote_order {height: 250px; width: 1920px; background-color: #d7c1ad; vertical-align: middle; text-align: center;}
.vote_order_div {
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 40px;
	display: inline-block;
	margin: 7px 7px 7px 7px;
}
#contest_vote_search {height: 830px;width: 1920px;background-color: #d7c1ad;}
#vote_search_div {width: 988px; }
#search_label_all {background-color: #704f45;}
#search_label_dog {background-color: #4d2418;}
#search_label_cat {background-color: #000000;}

#special_event_div {padding-top: 74px; background-color: #d7c1ad;}
#special_event_top {height: 620px; width: 1920px; background-image: url("../img/event/bg_img01.jpg");background-color: #FFFFFF; background-repeat: no-repeat;}
#special_event_movie {height: 420px; width: 1920px; background-color: #ffffff;}
#event_mov_play_div {background-color: #FFFFFF}
#event_mov_play {display: inline-block;}
#event_mov_btn_group {
	display: inline-block;
}
.event_mov_btn{
	display: flex;
	margin: 2px;
}
.event_move_label {
	width: 165px;
	height: 98px;
}
.event_mov_select{
	display: none;
}
#event_mov_cum_label {
	background-image: url("../img/event/btn_video01.png");
}
#event_mov_cum:checked ~ #event_mov_cum_label {
	background-image: url("../img/event/btn_video01_on.png");
}
#event_mov_rice_label {
	background-image: url("../img/event/btn_video02.png");
}
#event_mov_rice:checked ~ #event_mov_rice_label {
	background-image: url("../img/event/btn_video02_on.png");
}
#event_mov_sausage_label {
	background-image: url("../img/event/btn_video03.png");
}
#event_mov_sausage:checked ~ #event_mov_sausage_label {
	background-image: url("../img/event/btn_video03_on.png");
}
#event_mov_jerky_label {
	background-image: url("../img/event/btn_video04.png");
}
#event_mov_jerky:checked ~ #event_mov_jerky_label {
	background-image: url("../img/event/btn_video04_on.png");
}
#special_event_mov_title {
	margin: 5px;
	text-align: right;
	height: 20px;
	background-repeat: no-repeat;
	background-position: right;
}
#special_event_mov_title_emp {
	margin: 16px;
}
#special_event_btn_div {
	height: 100px; width: 1920px; background-color: #FFFFFF;
	margin-top: 30px;
}
.special_event_btn {
	cursor: pointer;
	padding: 10px;

}

#footer {padding-top: 74px;}
#footer_div {height: 96px; width: 1920px; background-image: url("../img/footer/footer.jpg");background-repeat: no-repeat;}